.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12개의 동일한 비율 컬럼 */
  align-items: start;
  gap: 10px; /* 컬럼 사이 간격 */
}
.wrapper {
  grid-column: span 6;
  border-radius: 15px;
  padding: 10px;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white!important;
}
.isMain {
  background-color: rgb(202, 178, 178);
}
.isSide {
  background-color: rgb(47, 83, 43);
}
.link {
  float: right;
}
.title {
  display: flex;
  flex-direction: column;
}
h2, h5 {
  margin: 0;
}