.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 10px;
}

.accordionHeader h3 {
  margin: 0;
}

/* 화살표 스타일 및 회전 애니메이션 */
.arrow {
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

/* 아코디언 콘텐츠 기본 상태 (숨김) */
.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 10px;
}

/* 아코디언 콘텐츠 열림 상태 */
.contentOpen {
  max-height: 200px; /* 내용이 충분히 들어갈 수 있는 넉넉한 높이 지정 */
  padding: 10px 10px;
}

.accordionContent h6 {
  margin: 0;
}