.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}
.typeWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}
.active > ul > li {
  border: 5px solid gold;
}
.item {
  display: flex;
}
.tag {
  border: 1px solid white;
  border-radius: 30px;  
  background-color: white;
  padding: 5px;
  color: black;
  font-size: 0.8rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.badge {
  height: 1.5rem;
}