/* TechStack.module.css */
.container { list-style: none; padding: 0; margin: 0; }

.category {
  font-size: 0.75rem;
  font-weight: 700;
  padding-left: 0.75rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--slate-600);
}

.inactive {
  opacity: 0.4;
  filter: grayscale(0.5);
}

/* 선택된 카테고리: 강조 효과 */
.active {
  opacity: 1;
  filter: grayscale(0);
  background-color: rgba(var(--highlight-rgb), 0.05); /* 강조 배경색 */
  transform: translateX(5px); /* 살짝 튀어나오는 효과 (선택사항) */
}

.item { margin-bottom: 0.75rem; }