.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.active > ul > li {
  border: 5px solid gold;
}
.category {
  padding-left: 30px;
}
.item {
  border: 3px solid black;
  border-radius: 15px;
}